legacy-bundling = true
{"db_name": "registry", "doc_count": 829934, "doc_del_count": 342, "update_seq": 10007890, "purge_seq": 0, "compact_running": false, "disk_size": 5265051230, "data_size": 4520488513 , "instance_start_time": "1521344268975870", "disk_format_version": 6, "committed_update_seq": 10007889}
